@use "../abstracts" as *;


@keyframes toast-slide-up {
  0% {
    opacity: 0;
    transform: translate(-50%, -40%) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@include respond(xl) {
  .article-toast {
    position: absolute;
    top: 85%;
    left: 85%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.35); 
    animation: toast-slide-up 0.4s ease-out forwards;

    &__header {
      width: 100%;
      height: auto;
      border: none;
      padding: 0.5rem 1rem;
    }

    &__icon {
      width: 2rem;
      height: 2rem;
      padding: 0.5rem;
      border-radius: 10px;
      

      &--success {
        background: #0377fa;
        fill: #fff;
      }

      &--failure{
        background: #6d6d6d;
        fill: #fff
      }
    }

    

    &__title {
      color: #182837;
      font-size: 1.1rem;
      font-weight: 600;
      margin: 0px auto 0px 0.5rem;
    }

    &__time{
      margin: 0 1rem;
      color: #999999;
      font-weight: 600;
    }

    &__close{
      margin: 0 !important;
    }

    &__body {
      color: #999999;
      font-weight: 600;
      padding: 0.5rem 2rem;
      text-align: center;
      font-size: 0.9rem;
    }
  }
}
