<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../public/styles/main.css">
  <link rel="icon" type="image/svg+xml" href="../public/img/icon-seramer.png" />
  <title>Inicie Sesión | SERAMER</title>
</head>

<body>
  <main class="main-login container-fluid min-vh-100">
    <div class="row">
      <div class="col-md-6">
        <section class="login d-flex flex-column align-items-center justify-content-center ">
          <header class="login__header">
            <img class="login__brand" src="../public/img/icon-seramer.png">
            <h1 class="login__title">Inicia Sesión</h1>
            <p class="login__sub-title">Bienvenido de vuelta</p>
          </header>

          <form 
            action=""
            class="login__form"
          >
            <div class="form-group mb-2">
              <label for="username" class="form-label login__label">Nombre de usuario:</label>
              <input type="text" class="form-control login__field" id="username" placeholder="Ingrese un nombre de usuario">
            </div>
            <div class="form-group mb-2">
              <label for="password" class="form-label login__label">Contraseña:</label>
              <input type="password" class="form-control login__field" id="password" placeholder="Ingrese una contraseña">
            </div>
          </form>

          <a href="" class="login__a fst-italic">¿Olvidaste tu contraseña?</a>
          <button type="submit" class="btn login__button py-3">
            Iniciar sesión
          </button>
        </section>
      </div>
      <div class="col-md-6">
        <section class="login d-flex flex-column align-items-center justify-content-center">
          <h1 class="login__title-plus">SERAMER</h1>
          <!-- 
            <h1 class="login__title-plus">E</h1>
            <h1 class="login__title-plus">R</h1>
            <h1 class="login__title-plus">A</h1>
            <h1 class="login__title-plus">M</h1>
            <h1 class="login__title-plus">E</h1>
            <h1 class="login__title-plus">R</h1> 
          -->
        </section>
      </div>
    </div>
  </main>
</body>

</html>