<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../public/styles/main.css">
  <link rel="icon" type="image/svg+xml" href="../public/img/icon-seramer.png" />
  <title>Lorem ipsus | SERAMER</title>
</head>

<body>
  <div class="db-body container-fluid min-vh-100">
    <div class="row">
      <aside class="db-aside d-flex flex-column align-items-center justify-content-around col-lg-2 min-vh-100">
        <div class="my-2 text-center">
          <img src="../public/img/icon-seramer.png" class="db-aside__imgBrand" alt="logo local">
          <h5 class="db-aside__brand">SERAMER</h5>
        </div>
        <nav class="db-aside__nav d-flex flex-column align-items-center">
          <!-- Seccion informacion que sistema -->
          <div class="db-aside__systemInfo d-flex align-items-center justify-content-center gap-2 p-2">
            <svg class="db-aside__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
              <path
                d="M256 64l128 0 0 64-128 0 0-64zM240 0c-26.5 0-48 21.5-48 48l0 96c0 26.5 21.5 48 48 48l48 0 0 32L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l96 0 0 32-48 0c-26.5 0-48 21.5-48 48l0 96c0 26.5 21.5 48 48 48l160 0c26.5 0 48-21.5 48-48l0-96c0-26.5-21.5-48-48-48l-48 0 0-32 256 0 0 32-48 0c-26.5 0-48 21.5-48 48l0 96c0 26.5 21.5 48 48 48l160 0c26.5 0 48-21.5 48-48l0-96c0-26.5-21.5-48-48-48l-48 0 0-32 96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-256 0 0-32 48 0c26.5 0 48-21.5 48-48l0-96c0-26.5-21.5-48-48-48L240 0zM96 448l0-64 128 0 0 64L96 448zm320-64l128 0 0 64-128 0 0-64z"
                fill="#0377FA" />
            </svg>
            <p class="db-aside__description">Ramdom</p>
          </div>
          <!-- Seccion Nav sidebar -->
          <ul class="nav flex-column w-100 py-1">
            <li class="nav-item db-aside__li">
              <a href="" class="db-aside__a nav-link d-flex align-items-center gap-1 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="db-aside__icon">
                  <path
                    d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                </svg>
                <span>Panel de control</span>
              </a>
            </li>
            <li class="nav-item db-aside__li">
              <a href="" class="db-aside__a nav-link d-flex align-items-center gap-2 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="db-aside__icon">
                  <path
                    d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                </svg>
                <span>lorem ipsu</span>
              </a>
            </li>
            <li class="nav-item db-aside__li">
              <a href="" class="db-aside__a nav-link d-flex align-items-center gap-2 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="db-aside__icon">
                  <path
                    d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                </svg>
                <span>lorem ipsu</span>
              </a>
            </li>
            <li class="nav-item db-aside__li">
              <a href="" class="db-aside__a nav-link d-flex align-items-center gap-2 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="db-aside__icon">
                  <path
                    d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                </svg>
                <span>lorem ipsu</span>
              </a>
            </li>
            <li class="nav-item db-aside__li">
              <a href="" class="db-aside__a nav-link d-flex align-items-center gap-2 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="db-aside__icon">
                  <path
                    d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                </svg>
                <span>lorem ipsu</span>
              </a>
            </li>
            <li class="nav-item db-aside__li">
              <a href="" class="db-aside__a nav-link d-flex align-items-center gap-2 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="db-aside__icon">
                  <path
                    d="M211.2 96a64 64 0 1 0 -128 0 64 64 0 1 0 128 0zM32 256c0 17.7 14.3 32 32 32l85.6 0c10.1-39.4 38.6-71.5 75.8-86.6c-9.7-6-21.2-9.4-33.4-9.4l-96 0c-35.3 0-64 28.7-64 64zm461.6 32l82.4 0c17.7 0 32-14.3 32-32c0-35.3-28.7-64-64-64l-96 0c-11.7 0-22.7 3.1-32.1 8.6c38.1 14.8 67.4 47.3 77.7 87.4zM391.2 226.4c-6.9-1.6-14.2-2.4-21.6-2.4l-96 0c-8.5 0-16.7 1.1-24.5 3.1c-30.8 8.1-55.6 31.1-66.1 60.9c-3.5 10-5.5 20.8-5.5 32c0 17.7 14.3 32 32 32l224 0c17.7 0 32-14.3 32-32c0-11.2-1.9-22-5.5-32c-10.8-30.7-36.8-54.2-68.9-61.6zM563.2 96a64 64 0 1 0 -128 0 64 64 0 1 0 128 0zM321.6 192a80 80 0 1 0 0-160 80 80 0 1 0 0 160zM32 416c-17.7 0-32 14.3-32 32s14.3 32 32 32l576 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L32 416z" />
                </svg>
                <span>Usuarios</span>
              </a>
            </li>
            <li class="nav-item db-aside__li">
              <a href="" class="db-aside__a nav-link d-flex align-items-center gap-2 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="db-aside__icon">
                  <path
                    d="M32 32c17.7 0 32 14.3 32 32l0 336c0 8.8 7.2 16 16 16l400 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L80 480c-44.2 0-80-35.8-80-80L0 64C0 46.3 14.3 32 32 32zm96 96c0-17.7 14.3-32 32-32l192 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-192 0c-17.7 0-32-14.3-32-32zm32 64l128 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-128 0c-17.7 0-32-14.3-32-32s14.3-32 32-32zm0 96l256 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-256 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z" />
                </svg>
                <span>Indicadores de gestion</span>
              </a>
            </li>
            <li class="nav-item db-aside__li">
              <a href="./LogIn.html" class="db-aside__a nav-link d-flex align-items-center gap-2 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="db-aside__icon">
                  <path
                    d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z" />
                </svg>
                <span>Cerrar Sesión</span>
              </a>
            </li>
          </ul>
        </nav>
        <article class="db-aside__help d-flex flex-column align-items-center justify-content-center">
          <h5 class="db-aside__helpTitle">
            Ayuda?
          </h5>
          <p class="db-aside__helpDescription">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <button class="db-aside__helpButton">
            Haga click aquí
          </button>
        </article>
      </aside>
      <main class="col-lg-10 min-vh-100">
        <header class="db-header w-100 d-flex justify-content-between align-items-center  mt-2">
          <section class="d-flex flex-column justify-content-center align-items-start w-50">
            <h3 class="db-header__title mb-0">Hello lorem ipsus</h3>
            <p class="db-header__subTitle mb-0">Lorem ipsum dolor</p>
          </section>
          <section class="d-flex justify-content-end w-50 gap-2">
            <div class="nav-item dropdown mx-5">
              <button class="db-header__button dropdown-toggle" id="notificationDropdown" data-bs-toggle="dropdown"
                aria-expanded="false" aria-label="Notificaciones">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="db-header__icon">
                  <path
                    d="M224 0c-17.7 0-32 14.3-32 32l0 19.2C119 66 64 130.6 64 208l0 18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416l384 0c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8l0-18.8c0-77.4-55-142-128-156.8L256 32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3l-64 0-64 0c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z" />
                </svg>

                <!-- Badge de notificaciones -->
                <span class="db-header__badge top-0 start-100 translate-middle badge rounded-pill">
                  4
                </span>
              </button>

              <!-- Dropdown de notificaciones -->
              <ul class="db-header__dropdown dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
                <li><span class="dropdown-item">lorem ipsus rolloud</span></li>
                <li><span class="dropdown-item">lorem ipsus rolloud</span></li>
                <li><span class="dropdown-item">lorem ipsus rolloud</span></li>
                <li><span class="dropdown-item">lorem ipsus rolloud</span></li>
              </ul>
            </div>
            <!-- <button class="db-header__button mx-5 dropdown nav-item" aria-label="notificaciones">
              <svg 
                xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 448 512"
                class="db-header__icon"
              >
                <path d="M224 0c-17.7 0-32 14.3-32 32l0 19.2C119 66 64 130.6 64 208l0 18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416l384 0c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8l0-18.8c0-77.4-55-142-128-156.8L256 32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3l-64 0-64 0c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z"/>
              </svg>
            </button> -->
            <a href="" class="db-header__a">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="db-header__icon">
                <path
                  d="M0 416c0 17.7 14.3 32 32 32l54.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 448c17.7 0 32-14.3 32-32s-14.3-32-32-32l-246.7 0c-12.3-28.3-40.5-48-73.3-48s-61 19.7-73.3 48L32 384c-17.7 0-32 14.3-32 32zm128 0a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM320 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm32-80c-32.8 0-61 19.7-73.3 48L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l246.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48l54.7 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-54.7 0c-12.3-28.3-40.5-48-73.3-48zM192 128a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm73.3-64C253 35.7 224.8 16 192 16s-61 19.7-73.3 48L32 64C14.3 64 0 78.3 0 96s14.3 32 32 32l86.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 128c17.7 0 32-14.3 32-32s-14.3-32-32-32L265.3 64z" />
              </svg>
            </a>
            <a href="" class="db-header__a">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="db-header__icon">
                <path
                  d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z" />
              </svg>
            </a>
          </section>
        </header>
        <section class="db-contentControl d-flex flex-column justify-content-around w-100 mt-5">
          <!-- Acciones -->
          <div class="row justify-content-center mb-1">
            <div class="col-11 d-flex justify-content-end gap-2">
              <button type="button" class="btn button-create" id="generateButton">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="btn-icons">
                  <path
                    d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 144-208 0c-35.3 0-64 28.7-64 64l0 144-48 0c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128zM176 352l32 0c30.9 0 56 25.1 56 56s-25.1 56-56 56l-16 0 0 32c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-48 0-80c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24l-16 0 0 48 16 0zm96-80l32 0c26.5 0 48 21.5 48 48l0 64c0 26.5-21.5 48-48 48l-32 0c-8.8 0-16-7.2-16-16l0-128c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16l0-64c0-8.8-7.2-16-16-16l-16 0 0 96 16 0zm80-112c0-8.8 7.2-16 16-16l48 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 32 32 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 48c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-64 0-64z" />
                </svg>
              </button>
              <a href="./Form.html" class="btn button-create">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="btn-icons">
                  <path
                    d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
                </svg>
              </a>
            </div>
          </div>
          <!-- Fila filtro -->
          <div class="row justify-content-center mb-3">
            <div class="col-11 options-filter">
              <form>
                <!-- Fila 1: Search -->
                <div class="row g-3 align-items-center mb-3">
                  <div class="col-3">
                    <label for="inputFilter" class="form-label">Buscar:</label>
                    <div class="input-icon-wrapper">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="input-icon">
                        <path
                          d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                      </svg>
                      <input type="text" class="form-control input-icon-wrapper__field" id="inputFilter"
                        placeholder="Buscar lorems ipsus">
                    </div>
                  </div>
                </div>
                <!-- Fila 2: filtros y botón -->
                <div class="row g-3 align-items-center">
                  <div class="col-3">
                    <button type="button" class="options-filter__button dropdown-toggle" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Categoria: todas
                    </button>
                    <ul class="dropdown-menu p-3 options-filter__content">
                      <div class="row">
                        <div class="col-6">
                          <li>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="Lorem1"
                                id="categoria1"><label class="form-check-label" for="categoria1">Lorem Ipsum</label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="Lorem2"
                                id="categoria2"><label class="form-check-label" for="categoria2">Dolor Sit</label></div>
                          </li>
                          <li>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="Lorem3"
                                id="categoria3"><label class="form-check-label" for="categoria3">Amet
                                Consectetur</label></div>
                          </li>
                          <li>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="Lorem4"
                                id="categoria4"><label class="form-check-label" for="categoria4">Adipiscing Elit</label>
                            </div>
                          </li>
                        </div>
                        <div class="col-6">
                          <li>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="Lorem5"
                                id="categoria5"><label class="form-check-label" for="categoria5">Sed Do</label></div>
                          </li>
                          <li>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="Lorem6"
                                id="categoria6"><label class="form-check-label" for="categoria6">Eiusmod Tempor</label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="Lorem7"
                                id="categoria7"><label class="form-check-label" for="categoria7">Incididunt Ut</label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check"><input class="form-check-input" type="checkbox" value="Lorem8"
                                id="categoria8"><label class="form-check-label" for="categoria8">Labore Et
                                Dolore</label></div>
                          </li>
                        </div>
                      </div>
                    </ul>
                  </div>
                  <div class="col-3">
                    <button type="button" class="options-filter__button dropdown-toggle" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Rubros: todos
                    </button>
                    <ul class="dropdown-menu p-3 options-filter__content">
                      <div class="row">
                        <div class="col-6">
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="Frutas" id="rubro1">
                              <label class="form-check-label" for="rubro1">Frutas</label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="Verduras" id="rubro2">
                              <label class="form-check-label" for="rubro2">Verduras</label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="Carnes" id="rubro3">
                              <label class="form-check-label" for="rubro3">Carnes</label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="Lácteos" id="rubro4">
                              <label class="form-check-label" for="rubro4">Lácteos</label>
                            </div>
                          </li>
                        </div>
                        <div class="col-6">
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="Cereales" id="rubro5">
                              <label class="form-check-label" for="rubro5">Cereales</label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="Legumbres" id="rubro6">
                              <label class="form-check-label" for="rubro6">Legumbres</label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="Aceites" id="rubro7">
                              <label class="form-check-label" for="rubro7">Aceites</label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="Condimentos" id="rubro8">
                              <label class="form-check-label" for="rubro8">Condimentos</label>
                            </div>
                          </li>
                        </div>
                      </div>
                    </ul>
                  </div>
                  <div class="col-3">
                    <button type="button" class="options-filter__button dropdown-toggle" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Estados: todos
                    </button>
                    <ul class="dropdown-menu p-3 options-filter__content">
                      <div class="row">
                        <div class="col-6">
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="Lorem" id="estado1">
                              <label class="form-check-label" for="estado1">Lorem</label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="Ipsum" id="estado2">
                              <label class="form-check-label" for="estado2">Ipsum</label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="Dolor" id="estado3">
                              <label class="form-check-label" for="estado3">Dolor</label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="Sit" id="estado4">
                              <label class="form-check-label" for="estado4">Sit</label>
                            </div>
                          </li>
                        </div>
                        <div class="col-6">
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="Amet" id="estado5">
                              <label class="form-check-label" for="estado5">Amet</label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="Consectetur" id="estado6">
                              <label class="form-check-label" for="estado6">Consectetur</label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="Adipiscing" id="estado7">
                              <label class="form-check-label" for="estado7">Adipiscing</label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="Elit" id="estado8">
                              <label class="form-check-label" for="estado8">Elit</label>
                            </div>
                          </li>
                        </div>
                      </div>
                    </ul>
                  </div>
                  <div class="col-3 d-grid">
                    <button type="submit" class="btn button-filter">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="btn-icons">
                        <path
                          d="M3.9 54.9C10.5 40.9 24.5 32 40 32l432 0c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9 320 448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6l0-79.1L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z" />
                      </svg>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- Fila tabla -->
          <div class="row justify-content-center">
            <div class="col-11 section-table">
              <!-- Opciones de tabla -->
              <div class="d-flex flex-wrap justify-content-between align-items-center mb-3 header-table">
                <!-- Ver más registros -->
                <div class="d-flex align-items-center gap-2">
                  <label class="form-label mb-0" for="entriesSelect">Show</label>
                  <select class="form-select form-select-sm" id="entriesSelect">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                  </select>
                  <span class="ms-1">Entries</span>
                </div>
                <!-- Título -->
                <h2 class="mb-0 section-table__title">Lista Lorem Ipsum</h2>
                <!-- Paginación -->
                <nav aria-label="Page navigation">
                  <ul class="pagination pagination-sm mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Siguiente">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- Tabla -->
              <div class="table-responsive rounded-1">
                <table class="table dinamic-table table-hover align-middle">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Handle</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>John</td>
                      <td>Doe</td>
                      <td>@social</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
        <!-- ToasAlert -->
        <article class="toast article-toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header article-toast__header">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="article-toast__icon">
              <path
                d="M342.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 178.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l80 80c12.5 12.5 32.8 12.5 45.3 0l160-160zm96 128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 402.7 54.6 297.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l256-256z" />
            </svg>
            <h6 class="article-toast__title">Lorem Ipsus</h6>
            <small class="article-toast__time">11 mins ago</small>
            <button type="button" class="btn-close article-toast__close" data-bs-dismiss="toast"
              aria-label="Close"></button>
          </div>
          <div class="toast-body article-toast__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus.
          </div>
        </article>
      </main>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const toastEl = document.querySelector('.toast');
      const toast = new bootstrap.Toast(toastEl, {
        autohide: false
      });
      toast.show();
    });
  </script>
</body>

</html>