@use "../abstracts" as *;


@include respond(laptop){
  .header {
    padding: 0% 2%;
  
    &__title {
      font-size: 1.15rem;
      color: #182837;
      font-weight: 600;
    }
  
    &__sub-title {
      font-size: 0.95rem;
      color: #6d6d6d;
    }

    &__a,
    &__button {
      background: #fff;
      border-radius: 5px;
      border: none;
      padding: 0.5rem;
      width: 2.5rem;
      height: auto;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
      transition: box-shadow 0.3s ease;
    }
  
    &__button {
      position: relative;
  
      &.dropdown-toggle::after {
        display: none; // ocultamos la flechita de Bootstrap
      }
    }
  
    &__badge {
      background: #0377fa;
      position: absolute;
    }

    &__notification{
      font-size: 0.9rem;
      color: #6d6d6d;
      font-weight: 600;
      border-bottom: 1px solid #6d6d6d;
      text-align: left;
      width: 100%;
      background: #fff;
      position: sticky;
      top: 0;
      z-index: 4;
      padding: 1rem;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    }

    .dropdown-item{
      &:hover{
        background: #d6ebff;
        color: #6d6d6d;
      }
    }

    &__menu {
      width: 30rem !important;
      font-size: 0.85rem !important;
      border-radius: 10px !important;
      border: 1px solid #d6ebff !important;
      padding: 1rem !important;
      background: #fff;
      box-shadow: 0 4px 14px rgba(0, 0, 0, 0.35);
      transform: translateY(-6px);
      transition: opacity 0.3s ease, transform 0.3s ease;
      overflow-wrap: break-word;
      color: #6d6d6d !important;
      max-height: 30rem;
      overflow-y: auto;
      padding: 0 !important;
  
      &.show {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }
  
      .dropdown-item {
        margin: 1rem 0rem;
        padding: 0.2rem 2rem 0.2rem;
        transition: background 0.2s ease-in-out;
        text-decoration: none;
        color: inherit;
  
        &:hover {
          background: #d6ebff;
        }
      }

      li{
        &:not(:last-child) {
          .dropdown-item {
            border-bottom: 1px solid #d6d6d6;
          }
        }
      }
    }
  
    &__options {
      height: 100%;
    }  
  
    &__a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    &__icon{
      width: 1.3rem;
      height: 1.3rem;
      fill: #005fcc;
      transition: all 0.2s ease;
      object-fit: contain;
  
      &:hover {
        fill: #0377fa;
        cursor: pointer;
      }
    }
  }
}

