@use "base/reset";
@use "layouts/sidebar";
@use "layouts/header";
@use "components/forms";
@use "components/loader";
@use "components/toastAlert";
@use "page/LogIn";
@use "page/dashboard";

$route-img-background: "../img/background.jpg";

body {
  background: url("#{$route-img-background}") no-repeat center / cover fixed;

  width: 100vw;
  height: 100vh;

  .main-login{
    background-image: linear-gradient(to left, transparent 30%, #edfaff 60%);
    ;
  }
}