@use "../abstracts/mixins" as *;

@include respond(xl){
  .db-aside {
    background: #ffffff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  
    &__imgBrand {
      width: 30%;
      height: auto;
    }
  
    &__brand {
      color: #051524;
      font-size: 1.1em;
      font-weight: 700;
    }
  
    &__nav {
      width: 100%;
      padding: 3%;
      border-top: 1px solid #d6ebff;
    }
  
    &__systemInfo {
      background: #d6ebff;
      width: 100%;
      border-radius: 5px;
      margin-bottom: 0.4rem;
    }
  
    &__icon {
      fill: #999999;
      width: 12%;
      height: auto;
    }
  
    &__description {
      font-size: 0.9em;
      color: #182837;
      font-weight: bold;
      margin-bottom: 0;
    }
  
    &__li {
      margin-bottom: 1%;
    }
  
    &__a {
      width: 100%;
      color: #999999;
      border-radius: 5px;
      font-size: 0.9rem;
      text-align: center;
      text-decoration: none;
  
      &:hover {
        color: #0377fa;
        background: #d6ebff;
        border-radius: 5px;
  
        .db-aside__icon {
          fill: #0377fa;
        }
      }
    }
  
    &__help {
      background-color: #0377fa;
      padding: 5%;
      margin: 2% 0%;
      text-align: center;
      width: 100%;
      height: auto;
      border-radius: 1rem;
    }
  
    &__helpTitle {
      color: #ffffff;
      font-size: 1.1rem;
      font-weight: 700;
      margin-bottom: 2%;
    }
  
    &__helpDescription {
      color: #d6ebff;
      font-size: 0.8rem;
      font-weight: 400;
      margin-bottom: 1%;
    }
  
    &__helpButton {
      background: #005fcc;
      color: #d6ebff;
      border-radius: 5px;
      border: none;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
      transition: box-shadow 0.2s ease;
      width: 100%;
      height: auto;
      padding: 0.5rem 0.3rem;
      font-size: 0.8rem;
      font-weight: 600;
      margin-bottom: 1%;
  
      &:hover {
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}

@include respond(custom-xl){
  .db-aside {
    background: #ffffff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);

    &__brand {
      color: #051524;
      font-size: 1.1em;
      font-weight: 700;
    }

    &__nav {
      width: 100%;
      padding: 5%;
      border-top: 1px solid #d6ebff;
    }

    &__systemInfo {
      background: #d6ebff;
      width: 100%;
      border-radius: 5px;
    }

    &__icon {
      fill: #999999;
      width: 12%;
      height: auto;
    }

    &__description {
      font-size: 0.9em;
      color: #182837;
      font-weight: bold;
      margin-bottom: 0;
    }

    &__a {
      width: 100%;
      color: #999999;
      border-radius: 5px;
      font-size: 0.9rem;
      text-align: center;
      text-decoration: none;

      &:hover {
        color: #0377fa;
        background: #d6ebff;
        border-radius: 5px;

        .db-aside__icon {
          fill: #0377fa;
        }
      }
    }

    &__help {
      background-color: #0377fa;
      padding: 5%;
      text-align: center;
      width: 90%;
      height: 18%;
      border-radius: 1rem;
    }

    &__helpTitle {
      color: #ffffff;
      font-size: 1.1rem;
      font-weight: 700;
    }

    &__helpDescription {
      color: #d6ebff;
      font-size: 0.8rem;
      font-weight: 400;
    }

    &__helpButton {
      background: #005fcc;
      color: #d6ebff;
      border-radius: 5px;
      border: none;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
      transition: box-shadow 0.2s ease;
      width: 85%;
      height: auto;
      padding: 0.5rem 0.3rem;

      &:hover {
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}
