@use "../abstracts" as *;

$text-shadow: text-shadow(0px, 0px, 10px, rgba(0, 0, 0, 0.5));
$font-title: 'Tesla', sans-serif;

.article {
  &__h1 {
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
    text-shadow: $text-shadow;
  }
}

.form {
  &--transparent {
    background: transparent;
  }

  &__group{
    width: 100%;
  }

  &__input{
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid silver;
    font-size: 1em;
    color: #f5f5f5;
    border-radius: 0 !important;
    outline: none;

    &:focus {
      background: transparent;
      color: #fff;
      border-bottom: 2px solid #fff;
      box-shadow: none;
    }
  }

  &__label{
    color: #fff !important;
  }

  &__a {
    color: #cccccc;
    font-size: 1.05em;
    font-weight: 700;
    text-decoration: none;
    text-shadow: $text-shadow;
    transition: all 0.1s linear;

    &:hover {
      text-decoration: underline;
    }
  }

  &__button {
    background-color: #fff;
    color: #0377fa;
    width: 90%;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    font-size: 1.25em;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #0069e0;
      background-color: #f5f5f5;
      transform: scale(1.05);
    }

    &:focus {
      background-color: #fff !important;
      color: #0377fa !important;
      box-shadow: none;
      outline: none;
    }
  }
}

.footer {
  &__p {
    color: #fff;
    font-size: 1.25em;
    font-weight: 700;
    text-shadow: $text-shadow;
  }

  &__svg {
    width: 15%;
    height: auto;
    transition: all 0.1s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

/* tf un poco mas grande */
/* @include respond(xs){
  .form{
    &__group{
      width: 85%;
    }
    
    &__input{
      width: 100%;
      height: 100%;
      border-bottom: 3px solid silver;
      font-size: 1.15em;
  
      &:focus {
        border-bottom: 3px solid #fff;
      }
    }

    &__label{
      color: #fff !important;
    }
  }
  .footer{
    &__svg{
      width: 8%;
    }
  }
}
 */
/* Tf tipo tablet */
/* @include respond(custom-md){
  .article {
    &__h1 {
      font-size: 3em;
    }
  }

  .form {
    &__a {
      font-size: 1.5em;
    }

    &__group{
      width: 90%;
    }
    
    &__input{
      width: 100%;
      height: 100%;
      border-bottom: 3px solid silver;
      font-size: 1.15em;
  
      &:focus {
        border-bottom: 3px solid #fff;
      }
    }

    &__button {
      font-size: 1.25em;
    }
  }

  .footer {
    &__p {
      font-size: 2em;
    }

    &__svg {
      width: 8%;
    }
  }
} */

/* pc grandes */
@include respond(laptop){

  .main-login{
    background-image: linear-gradient(
      to left, 
      rgb(3, 119, 250, 0.6) 30%, 
      #edfaff 60%);
  }
  
  .login{
    @include auth-form-base;

    &__header{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__brand{
      width: 15%;
      height: auto;
      margin-bottom: 1rem;
      background: #d6ebff;
      border-radius: 25px;
      box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
    }

    &__title, 
    &__sub-title {
      font-size: 1.8rem;
      text-align: center;
      color: #182837;
      font-weight: 600;
      text-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    &__sub-title{
      font-size: 1.2rem;
    }

    &__form{
      width: 50%;
      height: auto;
    }

    &__label{
      @include label-style;
    }

    &__field{
      @include input-style;
    }

    &__group-elements{
      @include group-elements;
      input {
        padding-left: 2.5rem;
      }
    }
    
    &__button-icon{
      @include button-icon;
    }

    &__icon{
      @include input-icon;
    }

    &__view-icon{
      @include view-icon;
    }

    &__a{
      font-size: 1rem;
      color: #999999;
      margin: 0.5rem 0;
      text-shadow: 0 2px 5px rgba(0,0,0,0.1);
      transition: all 0.2s linear;

      &:hover{
        color: #0377fa;
      }
    }

    &__button{
      width: 50%;
      height: auto;
      margin-top: 1rem;
      @include auth-button;
    }

    &__title-plus{
      @include auth-form-title-plus;
    }

    &__error{
      top: 88%;
      @include auth-error;
    }

    &__error-icon{
      @include auth-error-icon;
    }

    &__error-message{
      @include auth-error-message;
    }
  }
}

/* Pc mas grandes*/
@include respond(desktop-lg){
  .article {
    &__h1 {
      font-size: 3.2em;
    }

    &__img {
      width: 12rem;
      height: auto;
    }
  }

  .form {
    &__a {
      font-size: 1.3em;
    }

    &__group{
      width: 90%;
    }
    
    &__input{
      border-bottom: 3px solid silver;
      font-size: 1.2em;
  
      &:focus {
        border-bottom: 3px solid #fff;
      }
    }

    &__button {
      font-size: 1.6em;
    }
  }

  .footer {
    &__p {
      font-size: 1.6em;
    }

    &__svg {
      width: 8%;
    }
  }
}