@use "../abstracts/mixins" as *;

@include respond(xl){

  .form-component {
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    &__title{
      color: #182837;
      font-size: 1.5rem;
      font-weight: 700;
      text-shadow: 0 2px 5px rgba(0,0,0,0.1);
      padding-left: 1rem;
    }
  
    .form-group {
      margin: 2% 0;
    }

    &__label{
      color: #182837;
      font-weight: 600;
      text-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    &__field{
      color: #182837;
      font-size: 1rem;
      outline: none;
      border-bottom: 2px solid #999999;
      transition: all 0.3s ease;

      &:focus{
        border-bottom-color: #0377fa;
      }
    }
  
    &__button-canceled{
      width: 100%;
      background: #005fcc;
      padding: 5%;
      color: #d6ebff;
      text-decoration: none;
      font-size: 1rem;
      border-radius: 10px;
      border: none;
      font-weight: 600;
      transition: all 0.3s ease;
  
      &:hover{
        background: #0377fa;
        color: #fff;
        font-weight: 600;
      }
    }
  
    &__button{
      width: 100%;
      background: #005fcc;
      padding: 5%;
      color: #d6ebff;
      font-size: 1rem;
      border-radius: 10px;
      border: none;
      font-weight: 600;
      transition: all 0.3s ease;
  
      &:hover{
        background: #0377fa;
        color: #fff;
        font-weight: 600;
      }
    }
  }
}
