.loader {
  display: grid;
  place-items: center;/* Centrado vertical */
  min-height: 100vh;           

  &__body {
    width: 5rem;
    height: 5rem;
    aspect-ratio: 1.2;
    border-radius: 2px;
    border: none;
    --c:no-repeat repeating-linear-gradient(90deg,#005fcc 0 20%,#0000 0 40%);
    background: 
      var(--c) 50% 0,
      var(--c) 50% 100%;
    background-size: calc(500%/6) 50%;
    animation: l10 1s infinite linear;
  }
}

@keyframes l10 {
  33%  {background-position: 0   0   ,100% 100%}
  66%  {background-position: 0   100%,100% 0   }
  100% {background-position: 50% 100%,50%  0   }
}